@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Inter:wght@400;500;700;800&display=swap');

@theme {
  /* Sua nova paleta elegante */
  --color-brand-100: #CAD2C5; /* Verde bem claro - ótimo para fundos alternativos */
  --color-brand-300: #84A98C; /* Sálvia médio - detalhes e bordas */
  --color-brand-500: #52796F; /* Verde escuro - botões e destaques */
  --color-brand-700: #354F52; /* Ardósia - subtítulos e textos de apoio */
  --color-brand-900: #2F3E46; /* Quase preto/chumbo - texto principal */
  
  /* Cor de base do site (Off-white para não cansar a vista) */
  --color-bg-base: #F8F9FA; 
}

@layer base {
  body {
    background-color: var(--color-bg-base);
    color: var(--color-brand-900);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
  
  /* Suaviza a rolagem da página ao clicar nos links do menu */
  html {
    scroll-behavior: smooth;
  }
}